.our-impact {
  color: #F7F7F7;
  overflow: inherit;
}

.our-impact-heading h2{
  font-weight: 400;
  font-size: 3.2rem;
  margin: 2rem 0px;
  text-align: center;
}

.our-impact-logos {
  display: flex;
  gap: 40px;
  animation: scrollLogos 30s linear infinite;
  width: fit-content;
}

.our-impact-logos img{
  border-radius: 10px;
}

@keyframes scrollLogos {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 768px) {
  .our-impact {
    display: none;
  }
}