.projects {
  background: #fff;
  padding: 1rem 0rem -1rem 0rem;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.horizontal-scroll {
  display: flex;
  transition: transform 0.3s ease-out;
  gap: 5rem;
  height: 100%;
  width: max-content;
  will-change: transform;
}

.projects__slide {
  flex: 0 0 auto;
  border-radius: 1rem;
  text-align: center;
  cursor: pointer;
}

.projects__image {
  /* max-width: 35.5rem; */
  max-width: 38.5rem;
  max-height: 28.25rem;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 4rem 2rem auto;
  transition: background-color 2s ease, transform 2s ease;
  border-radius: 0.8rem;
}

/* .projects__image:hover {
  max-width: 37.5rem !important;
  max-height: 38.25rem !important;
  transform: scale(1);
} */

.projects__title {
  font-weight: bold;
  font-size: 1rem;
}

.projects__type {
  font-weight: normal;
  color: #555;
}

.projects-title {
  text-align: center;
  font-size: 3.2rem;
  color: black;
  margin: 3rem 0rem;
}

@media screen and (max-width: 768px) {
  .projects{
    height: 100%;
    padding: 1rem 0 2rem;
  }

  .projects__image {
    max-width: 15.5rem;
    max-height: 18.25rem;
    margin: 0rem 1rem;
  }

  .horizontal-scroll {
    gap: 0rem;
  }

  .projects-title{
    margin: 1rem 0 2rem;
    font-size: 2.3rem;
  }

  .projects__image:hover {
    max-width: 15.5rem;
    max-height: 18.25rem;
  }

  .horizontal-scroll{
    animation: scrollProject 30s linear infinite;
  }

  @keyframes scrollProject {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(-50%);
    }
  }
}