.Projects-container {
  padding: 3.5rem;
  text-align: center;
  background-color: #FFFFFF99;
}

.section-heading {
  font-size: 3.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.sub-heading {
  font-size: 1rem;
  color: #6941C6;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.project-title {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.tags {
  margin-bottom: 2rem;
}

.tags:hover {
  cursor: pointer;
}

.tag {
  display: inline-block;
  padding: 0.2rem 1rem;
  margin: 0 0.5rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

.design {
  background-color: #F9F5FF;
  color: #6941C6;
}

.research {
  background-color: #EEF4FF;
  color: #3538CD;
}

.presentation {
  background-color: #FCCEEE;
  color: #C11574;
}

.project-image-wrapper {
  display: flex;
  justify-content: center;
}

.project-image {
  max-height: 40rem;
  max-width: 80rem;
  object-fit: cover;
  border-radius: 1rem;
}

.description {
  margin-top: 2rem;
  font-size: 1.1rem;
  color: #eee;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .project-image {
    max-width: 20rem;
  }

  .Projects-container {
    padding: 2.5rem;
  }

  .section-heading {
    font-size: 2.3rem;
    margin-bottom: 0.6rem;
  }

  .project-title {
    font-size: 1.6rem;
  }

  .tag {
    font-size: 0.6rem;
    margin: 0px 4px;
  }

  .sub-heading {
    font-size: 1.3rem;
  }

}