.banner {
    height: 105vh;
}

.banner-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0;
    overflow: hidden;
    background-image:
        /* Grid lines */
        linear-gradient(rgba(20, 20, 20, 0) 1.8px, transparent 1.9px),
        linear-gradient(90deg, rgba(24, 24, 24, 0) 1.9px, transparent 1.9px),

        /* Alternating box pattern */
        repeating-linear-gradient(to bottom,
            transparent,
            transparent 120px,
            rgba(21, 21, 21, 0.03) 100px,
            rgba(0, 0, 0, 0.03) 120px,
            transparent 120px,
            transparent 180px),
        repeating-linear-gradient(to right,
            transparent,
            transparent 120px,
            rgba(0, 0, 0, 0.03) 40px,
            rgba(11, 11, 11, 0.03) 120px,
            transparent 120px,
            transparent 180px),

        radial-gradient(circle at center, rgba(77, 63, 237, 0.2), transparent 40%);
    background-size: 100px 100px, 100px 100px, 180px 180px, 180px 180px, cover;
    background-position: center;
    top: 94px;
}

.tiles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    grid-auto-rows: 80px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.tile {
    transition: background-color 0.6s ease;
    border: 1px solid #38384714;
}

.tile:hover {
    background-color: rgba(131, 131, 131, 0.809);
}

.banner-card-one {
    position: absolute;
    left: 45px;
    top: 10rem;
}

.banner-card-three {
    position: absolute;
    right: 45px;
    top: 10rem;
}

.banner-card-one-video,
.banner-card-three-video {
    width: 500px;
    height: 500px;
    opacity: 0.2;
    transform: rotate(135deg);
}

.banner-card-one-video {
    float: left;
    margin-left: -290px;
}

.banner-card-three-video {
    float: right;
    margin-right: -290px;
}

.banner-card-two {
    position: absolute;
    padding: 0px 10rem;
    top: 294px;
}

.banner-card-two h1 {
    font-weight: 600;
    font-size: 4rem;
    line-height: 1.1;
    text-align: center;
    color: #F7F7F7;
    letter-spacing: -2px;
    margin: 0rem 0rem 1rem;
}

.banner-card-two h1 span {
    font-style: italic;
    font-family: emoji;
    font-weight: 500;
    letter-spacing: -1px;
    color: #d1baff;
}

.banner-card-two p {
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: 0.58px;
    text-align: center;
    color: #94979C;
    padding: 0 8.2rem;
    margin: 0 50px;
    font-size: 1.2rem;
}

.banner-plus {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: auto;
    z-index: 4;
    top: 620px;
}

.form-btn {
    display: none;
}

@media screen and (max-width: 768px) {
    .banner-card-two p {
        padding: 0px;
        margin: 0px;
        letter-spacing: 0px;
        font-size: 1.1rem;
        line-height: 1.4;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        position: absolute;
        right: 0px;
        padding: 0 1.7rem;
        color: #535862;
    }

    .banner-card-one-video,
    .banner-card-three-video {
        width: 150px;
        height: 150px;
    }

    .banner-card-one,
    .banner-card-three {
        position: unset;
        margin-top: 12.2rem;
    }

    .banner-card-three-video {
        margin-right: -74px;
    }

    .banner-card-one-video {
        margin-left: -74px;
    }

    .banner-card-two h1 {
        font-size: 2.2rem;
        margin-top: 1.1rem;
        letter-spacing: normal;
    }

    .banner-text {
        padding: 0px;
        width: 100%;
        overflow: hidden;
        height: 58vh;
    }

    .banner-card-two {
        margin-bottom: 0px;
        margin-top: 0px;
        padding: 0 4rem;
        top: 310px;
    }

    .banner-background {
        height: 74vh;
    }

    .banner-plus {
        display: none;
    }

    .gridBackground {
        top: 55px;
    }

    .form-btn a button {
        width: 100%;
        height: 3rem;
        font-size: 1rem;
        font-weight: 500;
    }

    .form-btn {
        padding: 2.2rem 1.5rem 3rem 1.5rem;
        display: block;
        position: relative;
        z-index: 2;
        top: 8rem;
    }
    .tiles-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
        grid-auto-rows: 60px;
    }
    .banner {
        height: 100vh;
    }
}